@import "../abstracts/spacing";
@import "../abstracts/theme";
@import "../variables";


.katex::-webkit-scrollbar {
  height: map-get($spacing-map, "xxs");
}


.katex::-webkit-scrollbar-thumb {
  border-radius: map-get($spacing-map, "xxs");
  background: var(--lightgray); 
}
