/* giscus_dark.css */

main {
  --color-fg-default: rgb(206, 205, 195);
  --color-fg-muted: rgb(87, 86, 83);
  --color-canvas-default: rgb(16, 15, 15);
  --color-canvas-subtle: rgb(28, 27, 26);
  --color-border-default: rgb(28, 27, 26);
  --color-accent-fg: rgb(220, 20, 60);
  --color-accent-emphasis: rgb(220, 20, 60);
  --color-accent-subtle: rgba(220, 20, 60, 0.1);
}

.gsc-comments {
  font-family: "Nunito Sans", sans-serif;
  color: var(--color-fg-default);
}

.gsc-comments-count, .gsc-comments-count-separator {
  color: var(--color-fg-muted);
}

.gsc-comment-box, .gsc-comment-box-textarea {
  background-color: var(--color-canvas-default);
  border-color: var(--color-border-default);
  font-family: "Nunito Sans", sans-serif;
}

.gsc-comment-box-textarea:focus {
  border-color: var(--color-accent-emphasis);
  box-shadow: 0 0 0 2px var(--color-accent-subtle);
}

.gsc-comment-box-buttons {
  background-color: var(--color-canvas-subtle);
}

button.gsc-comment-box-submit {
  background-color: var(--color-accent-emphasis);
  color: var(--color-canvas-default);
  font-family: "Nunito", sans-serif;
}

button.gsc-comment-box-submit:hover {
  opacity: 0.9;
}

.gsc-timeline {
  border-color: var(--color-border-default);
}

.gsc-timeline-line {
  background-color: var(--color-border-default);
}

.gsc-loading-image {
  background-image: url(https://github.githubassets.com/images/mona-loading-dark.gif);
}
