.text-highlight {
  background-color: var(--textHighlight);
  padding: 0.1rem 0.3rem;
  border-radius: 3px;
  color: inherit;
  font-weight: normal;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
::selection {
  background: color-mix(in srgb, var(--tertiary) 60%, rgba(255, 255, 255, 0));
  color: var(--darkgray);
}

.footnotes {
  margin-top: 2rem;
  border-top: 1px solid var(--lightgray);
}

.external-embed.youtube,
iframe.pdf {
  aspect-ratio: 16 / 9;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
