@use "./base.scss";

// put your custom CSS here!
.centerImg, img {
  display: block;
  margin: 0em auto;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

.content-meta, h1 {
  text-align: center;
}

h2 {
  margin-bottom: 1.2em;
  text-decoration: underline var(--secondary);
}

.popover-hint > ul.tags {
  display: block;
  text-align: center;
  list-style-type: none; /* Remove bullet points */
}

.katex { 
    line-height: 0px; 
    font-size: 1.1em;
    color: var(--dark);
}

strong, em {
  color: var(--textHighlight) !important;
}
