/**
 * Layout breakpoints
 * $mobile: screen width below this value will use mobile styles
 * $desktop: screen width above this value will use desktop styles
 * Screen width between $mobile and $desktop width will use the tablet layout.
 * assuming mobile < desktop
 */

// light mode
:root {
  // Couleurs générales
  --color-light: #445155;
  --color-dark: #cacecf;

  // Question
  --question-border-light: #8d67b7;
  --question-bg-light: #e8e0f1;
  --question-border-dark: #7a43b5;
  --question-bg-dark: #221a2b;

  // Note
  --note-border-light: #507687;
  --note-bg-light: #e0f5ff;
  --note-border-dark: #0094ff;
  --note-bg-dark: #0a3963;

  // Warning
  --warning-border-light: #dba642;
  --warning-bg-light: #ffe3ad;
  --warning-border-dark: #b5910c;
  --warning-bg-dark: #735b0d;

  // Tip
  --tip-border-light: #09ad71;
  --tip-bg-light: #d7f9ec;
  --tip-border-dark: #09ad71;
  --tip-bg-dark: #245543;
}

// dark mode
:root[saved-theme="dark"] {
  // Question
  --question-border-light: #7a43b5;
  --question-bg-light: #221a2b;
  --question-border-dark: #7a43b5;
  --question-bg-dark: #221a2b;

  // Note
  --note-border-light: #0094ff;
  --note-bg-light: #0a3963;
  --note-border-dark: #0094ff;
  --note-bg-dark: #0a3963;

  // Warning
  --warning-border-light: #b5910c;
  --warning-bg-light: #735b0d;
  --warning-border-dark: #b5910c;
  --warning-bg-dark: #735b0d;

  // Tip
  --tip-border-light: #09ad71;
  --tip-bg-light: #245543;
  --tip-border-dark: #09ad71;
  --tip-bg-dark: #245543;
}
$breakpoints: (
  mobile: 800px,
  desktop: 1200px,
);

$mobile: "(max-width: #{map-get($breakpoints, mobile)})";
$tablet: "(min-width: #{map-get($breakpoints, mobile)}) and (max-width: #{map-get($breakpoints, desktop)})";
$desktop: "(max-width: #{map-get($breakpoints, desktop)})";

$pageWidth: #{map-get($breakpoints, mobile)};
$sidePanelWidth: 320px; //380px;
$topSpacing: 3rem;
$boldWeight: 700;
$semiBoldWeight: 600;
$normalWeight: 400;

$mobileGrid: (
  templateRows: "auto auto auto auto auto",
  templateColumns: "auto",
  rowGap: "5px",
  columnGap: "5px",
  templateAreas:
    '"grid-sidebar-left"\
      "grid-header"\
      "grid-center"\
      "grid-sidebar-right"\
      "grid-footer"',
);
$tabletGrid: (
  templateRows: "auto auto auto auto",
  templateColumns: "#{$sidePanelWidth} auto",
  rowGap: "5px",
  columnGap: "5px",
  templateAreas:
    '"grid-sidebar-left grid-header"\
      "grid-sidebar-left grid-center"\
      "grid-sidebar-left grid-sidebar-right"\
      "grid-sidebar-left grid-footer"',
);
$desktopGrid: (
  templateRows: "auto auto auto",
  templateColumns: "#{$sidePanelWidth} auto #{$sidePanelWidth}",
  rowGap: "5px",
  columnGap: "5px",
  templateAreas:
    '"grid-sidebar-left grid-header grid-sidebar-right"\
      "grid-sidebar-left grid-center grid-sidebar-right"\
      "grid-sidebar-left grid-footer grid-sidebar-right"',
);
